.main {
  padding: 2rem;
}


.title {
    text-align: center;
    margin-bottom: 2rem;
    font-size: 2.8rem;
    font-weight: 700;
    line-height: 1.2;
    color: rgb(38 14 105);
}

.list {
  list-style: none;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
}

@media (max-width: 768px) {
  .list {
    grid-template-columns: 1fr;
  }
}

.listItem {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 1rem;
  background: #fafafa;
}

.itemTitle {
  font-size: 1.2rem;
  font-weight: bold;
}

.itemDescription {
  margin: 0.5rem 0;
}

.itemMeta {
  font-size: 0.9rem;
  color: #555;
}

.pagination {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  margin-top: 2rem;
  flex-wrap: wrap;
}

.pageButton {
  padding: 0.5rem 0.8rem;
  background: #0070f3;
  color: white;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}

.pageButton:hover {
  background: #005bb5;
}

.activePage {
  background: #ff6600;
  font-weight: bold;
}

.postHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.postContent {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.postFooter {
  display: flex;
  justify-content: flex-end; /* botão no canto direito */
}

.modalOverlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 50;
}

.modalContent {
  background: white;
  padding: 2rem;
  border-radius: 16px;
  width: 90%;
  max-width: 500px;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
}

.modalTitle {
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.input,
.textarea {
  width: 100%;
  border: 1px solid #ccc;
  padding: 0.75rem;
  margin-bottom: 1rem;
  border-radius: 8px;
}

.modalActions {
  display: flex;
  justify-content: flex-end;
  gap: 0.75rem;
}

/* Borda vermelha em caso de erro */
.errorBorder {
  border-color: red;
}

/* Mensagem de erro */
.errorMessage {
  color: red;
  font-size: 0.875rem;
  margin-bottom: 0.5rem;
}
